In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df = pd.read_csv("data_assign_p1.csv")

In [18]:
df

       obs   GDP_QGR
0   1987Q2  2.740482
1   1987Q3  2.027536
2   1987Q4  0.798372
3   1988Q1  0.990361
4   1988Q2  0.339641
..     ...       ...
83  2008Q1  1.463090
84  2008Q2  0.256876
85  2008Q3  0.497846
86  2008Q4 -0.311434
87  2009Q1 -2.705085

[88 rows x 2 columns]